body {margin:0}

.new_line {position:relative;clear:both;padding: 4px 5px 7px 5px;}
.d_capt {float: left; width: 47px;text-align:center;}
.d_turn {color:#777;font-size:85%;}
.d_clear {clear:both;}
.text_content {text-align: left;
  padding-left: 52px;
  word-wrap: break-word;
}                                                       

fieldset {border:0px;padding:0.5em 0.1em 0.5em 0.1em;}

.afl {padding:0 0 10px 0;border-radius: 6px;border: 0px solid #CCC;position:relative;}
.afl legend {height:25px;text-align:center;width:100%;margin-top:5px;float:left;}
.afl {
	background: #F5F5F5 -webkit-gradient(linear, left top, left 60, from(#F6F8F9), to(#F7F7F7), color-stop(0.5, #E7E7E7), color-stop(0.5, #F9F9F9));
	background: #F5F5F5 -moz-linear-gradient(top, #F7FBFE, #E7E7E7 31px, #F9F9F9 31px, #F7F7F7);
	background: #F5F5F5 -o-linear-gradient(top, #F7FBFE, #E7E7E7 31px, #F9F9F9 31px, #F7F7F7);
	background-color:#FAFAFA;	
}

.box {padding:0;margin-top:30px;border-radius: 6px;border: 1px solid #CCC;position:relative;box-shadow: 0px 0px 5px #C0C0C0;}
.box legend {height:25px;text-align:center;width:100%;float:left;color: #444;font-weight: bold;}
.box {
	background: #F5F5F5 -webkit-gradient(linear, left top, left 60, from(#F6F8F9), to(#F7F7F7), color-stop(0.5, #E7E7E7), color-stop(0.5, #F9F9F9));
	background: #F5F5F5 -moz-linear-gradient(top, #F7FBFE, #E7E7E7 31px, #F9F9F9 31px, #F7F7F7);
	background: #F5F5F5 -o-linear-gradient(top, #F7FBFE, #E7E7E7 31px, #F9F9F9 31px, #F7F7F7);
	background-color:#FAFAFA;	
}




legend a {text-decoration:none;color: #444;font-weight: bold;}

#central_block{
    background:#fff;
    width:46%;
    float:left;
	padding-left:0.9em;
	padding-right:0.9em;
}


#left_block{
    width:23.5%;
    float:left;
    background:#fff;
	padding-left:0.9em;
	padding-right:0.9em;
}

#right_block{
    width:22.5%;
    float:left;
    background:#fff;
	padding-left:0.9em;
	padding-right:0.9em;
}


#h_tbl{
  border-collapse:collapse;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0.7em;
  margin-bottom: 1em;  
}

table {	
	border-radius:5px;
	-webkit-box-shadow: 0px 0px 5px #C0C0C0;
	-moz-box-shadow: 0px 0px 5px #C0C0C0;
	
}

th{
    font-weight:bold;
    color: #4f6b72;
    letter-spacing: 1px;
    text-align: center;
    padding: 8px 12px 8px 12px;

	background: #F5F5F5 -webkit-gradient(linear, left top, left 200%, from(#F6F8F9), to(#F7F7F7), color-stop(0.5, #E7E7E7), color-stop(0.5, #F9F9F9));
	background: #F5F5F5 -moz-linear-gradient(top, #F7FBFE, #E7E7E7 100%, #F9F9F9 100%, #F7F7F7);
	background: #F5F5F5 -o-linear-gradient(top, #F7FBFE, #E7E7E7 100%, #F9F9F9 100%, #F7F7F7);
	background-color:#FAFAFA;
	border-right: 1px solid #ddd;
}

table td {
   	font-family: Verdana, Arial, Helvetica, sans-serif;
   	text-align: left;
 	border-right: 1px solid #ddd;
 	border-top: 1px solid #ddd;
 	padding: 6px 12px 6px 12px;
 	color: #4f6b72;	
}


.l_capt{
    float:left;
    text-align: left;
    font-weight:bold;
    display: inline;
    clear: left;
}

.field_content, .equip_content{
    text-align: right;
    float: right;
    display: inline;
}
.equip_content{text-align: right; float: right; clear: left;}

#inv_capt{ padding-top: 0.5em; padding-left: 0.5em;margin-top:2em;}
ul {padding: 0px;margin-left: 20px;margin-top:0.5em;}


.cmplt_status {
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    -khtml-border-radius: 6px; 
	border-radius: 6px;

	background-color: #FFFED0;
	border: 1px solid #BBBBBB;
	color: #444444;
	line-height: 1.5;
	margin: 3px 3px 3px 3px;
	padding: 2px 5px 2px 5px;
	position:absolute;z-index:1000;
	width:15em;
	text-align:center;
	right:0;
}

.infl {color:#38599A}
.opp_infl {color:#800000}

.opp_meta {font-weight:normal;font-size:80%;clear_both;float:left;clear:both;padding:0.3em 0.0em 0.0em 0.5em;}
#dmap {overflow-x: auto;padding-top:1em;width:202px;}
.dml {clear:both;margin-left:auto;margin-right:auto;position:relative;height:22px}
.dmc {font-size: 12px;overflow: hidden;white-space: nowrap;text-align: center;width: 20px;height: 18px;border: 1px solid #999;float:left;margin: -1px -1px 0 0;padding-top:	3px;position:absolute;}



.lastduelpl {text-align:center;margin:10px;clear:both;}
.lastduelpl_f {font-size:90%;color:#888;text-align:center;padding:1em;clear:both;}

@font-face {
  font-family: Em;
  src: url('/em.ttf');
}
.em_font {font-family: 'Em', sans-serif;}
.dmw {background-color:rgba(0, 0, 0, 0.15);}

